---
import BaseHead from '../components/BaseHead.astro';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import PartyMode from '../components/PartyMode.astro';
import ModeButtons from '../components/ModeButtons';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  </head>
  <body>
    <Header />
    <PartyMode />
    <ModeButtons client:load />
    <main class="main-content pt-[0px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* Remove the margin-top style completely */
</style>