---
import type { Work } from '../types/workType';
import WorkGallery from '../components/WorkGallery';
import { client } from '../../sanity';

const works = await client.fetch(`
  *[_type == "work"] {
    title,
    slug,
    coverImage {
      asset-> {
        url
      }
    },
    description,
    categories[]-> {
      title,
      slug
    }
  }
`);

const categories = await client.fetch(`
  *[_type == "workCategory"] | order(order asc) {
    title,
    slug
  }
`);

interface Props {
  sectionTitle?: string;
}

const { sectionTitle = 'Our Work' } = Astro.props as Props;
---

<section class="hero-work">
  <div class="title-container">
    <h4>{sectionTitle}</h4>
  </div>
  
  <WorkGallery client:load works={works} categories={categories} />
</section>

<style>
  .hero-work {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 630px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
    gap: 2rem;
  }

  .title-container {
    padding: 0 2rem;
  }

  .title-container h4 {
    color: var(--color-text-primary);
  }
</style>