---
import { urlForImage } from '../lib/urlForImage';
import { SITE_TITLE } from '../constants';

interface Props {
  heroImage?: {
    asset: {
      _ref: string;
    };
  };
  heroVideo?: string;
  heroTitle?: string;
  heroSubtitle?: string;
  heroLogos?: Array<{
    asset: {
      _ref: string;
    };
  }>;
}

// extracting the properties from Sanity database so we can use them in the Hero component
const { heroImage, heroVideo, heroTitle, heroSubtitle, heroLogos } = Astro.props;
---

<section class="bg-black flex flex-col min-h-screen">
  <div class="container min-w-[100vw] min-h-[50vh] flex items-center">
    <div class="titles-container pl-[10%] flex flex-col gap-3">
      <h1 class="text-white">Hello World</h1>
      <h2 class="text-white">Hello Computer</h2>
      <h3 class="text-white">Hello Everyone</h3>
    </div>
  </div>
</section>